.image{
    width: 270px;
    height: 70%;
    opacity: 0.7;
    z-index: 0;
}
.imagec-enter{
    opacity: 0.7;

}
.overflowxhidden{
    overflow-x: hidden;
}
.imagec-enter-active{
    opacity: 1;
    transition: opacity 1000ms;
    
}
.imagec-enter-done{
    
}
.right_btn{
    transform: translateX(-50px);
    z-index: 10;
}
.left_btn{
    transform: translateX(50px);
    z-index: 10;
}