.card{
    width: 270px;
    height: 70%;
    opacity: 0.7;
    z-index: 0;
}
.imagec-enter{
    opacity: 0.7;

}
.overflowxhidden{
    overflow-x: hidden;
}
.imagec-enter-active{
    opacity: 1;
    transition: opacity 1000ms;
    
}

.mybtn{
    z-index: 10;
    width: 100px;
    height: 100px;
    font-size:2cm;
    color: white;
    background-color: rgba(0, 0, 0,0);
}
.mybtn:focus {
    outline: none;
    box-shadow: none;
}
.right_btn{
    transform: translateX(-400px);
    
}
.left_btn{
    transform: translateX(400px);
    
}
